* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 微軟正黑體;
}

#header {
    width: 700px;
    height: 70px;
    background-color: #B2F58B;
    text-align: center;
    line-height: 70px;
}

#nav {
    width: 200px;
    height: 400px;
    background-color: #F585A5;
    float: left;
}

#nav li {
    padding: 10px;
}

#main {
    width: 300px;
    height: 400px;
    background-color: #F7A956;
    float: left;
}

#main p {
    padding: 10px;
}

#trd {
    width: 200px;
    height: 400px;
    background-color: #F1E83D;
    float: left;
}

#trd p {
    padding: 10px;
}

#footer {
    width: 700px;
    height: 50px;
    background-color: #AE6FF3;
    clear: both;
    text-align: center;
    line-height: 50px;
}

.center {
    width: 800px;
    margin: 0 auto;
}

.retune a {
    text-decoration: none;
    text-align: center;
    color: #7D7272;
}

.retune {
    width: 800px;
    margin: 0 auto;
}
